---
layout: default
title: Blog | Vis Design Lab
---

<div class="home">

  <div class="banner">
  </div>	

  <article class="blog-page">
	  

    {% for post in site.posts %}     
      {% if post.type == "blog" %}   

      <div class="blog-teaser">

        <div class="post-list-title">
          <a class="post-list-link" href="{{ site.baseurl }}{{ post.url }}">
            <span>{{ post.title }}</span>  <span class="right-text">{{ post.date | date: "%-d %b %Y" }}</span>              
            </a>          
        </div>

        {% if post.lead-image %}
        <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{site.baseurl}}{{post.lead-image}}" alt="Blog lead image">
        </a>
        {% endif %}
        <a href="{{ site.baseurl }}{{ post.url }}">
        <p>{{ post.abstract | truncatewords: 60}}</p></a>
     </div>
      {% endif  %}
    {% endfor %}


  </article>

</div>
