---
layout: default
title: News | Vis Design Lab
---

<div class="home">

  <div class="banner">
  </div>	

  <article class="post-content-main">
	  
<h1>News <span class="left-icon"><a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss"></i></a></span></h1>
    {% for post in site.posts %}
		
        <span class="post-list-title">
          {{ post.title }}
        </span>
        <span class="right-text"><i>Posted: {{ post.date | date: "%-d %b %Y" }}</i></span>

        <div class="post-list-excerpt">
          {% if post.abstract %}
          <p>{{ post.abstract}}</p>
          {% endif %}
          {{ post.excerpt }}
       
        </div>
		<div><a class="post-list-link" href="{{ post.url | prepend: site.baseurl }}">More...</a></div>  
    {% endfor %}

  </article>

</div>
