{% for person in site.persons %}
{% if person.graduated == null %}
{% if person.key == include.key  or person.role == include.role %}
<p class="person-list-block" id="{{ person.key }}" onclick="selectPerson(this.id)" onmouseenter="highlightPerson(this.id)" onmouseleave="clearClass('highlighted')">
    <!--<img alt="{{ person.first_name }} {{ person.last_name }}" class="person-image-small" src="{{ person.image }}">-->
    {% capture name %}{{ person.first_name }} {{ person.last_name }}{% endcapture %}


    {% if person.role != "alumnus" %}
    <span class="name">
        {% if person.website %}
      <a href="{{ person.website }}">{{ name }}</a>
        {% else %}
        {{ name }}
        {% endif %}
      
      <span class="spacer">
        {% capture numDots %}{{name | size | minus: 23 | times: -1}}{% endcapture %}
        {% for i in (1..numDots) %}
          <span class="dot">
          &middot;
          </span>
        {% endfor %}
      </span>
    </span>

    <span class="interests">
      {{person.interests}}
    </span>
    {% endif %}
</p>
{% endif %}
{% endif %}
{% endfor %}
