<p>
{% for person_key in include.students %}
{% if person_key contains " " %}
    {{ person_key }} <br>
{% else %}
    {% for person in site.persons %}
    {% if person.key == person_key %}
    {% capture name %}{{ person.first_name }} {{ person.last_name }}{% endcapture %}
        {% if person.graduated %}
             {% if person.website %}
            <a href="{{ person.website }}">{{ name }}</a>{% else %}{{ name }}{% endif %}{% if person.graduated != "N" %}, {{ person.graduated }}{% if person.now_at %}, Now {{person.now_at}}{% endif %}{% endif %} <br>
        {% else %}
        {% if person.website %}
        <a href="{{ person.website }}">{{ name }}</a>
        {% else %}
        {{ name }}
        {% endif %}
                            <span style="font-size: 0.8em">
                          |  {{person.interests}}
                            </span> <br>
        {% endif %}
    {% endif %}
    {% endfor %}
{% endif %}
{% endfor %}
</p>
