<div class="talk">
    <p >
        <b>{{talk.title }}</b>
             <span style="float:right">
        {% if talk.slides-key %}
        <a href="{{talk.slides-key}}">Keynote</a> |
        {% endif %}
        {% if talk.slides-ppt %}
        <a href="{{talk.slides-ppt}}">PPT</a> |
        {% endif %}
        {% if talk.slides-pdf %}
        <a href="{{talk.slides-pdf}}">PDF</a>
        {% endif %}
        </span> <br>
        {% if talk.note %}
        {{ talk.note }}
        {% endif %}
        <div class="talk-entry">
        {% for instance in talk.held %}
        {{ instance  | markdownify}} 
        {% endfor %}
        </div>
    </p>

</div>
