---
layout: default
---
<div class="funding">

  <header class="funding-title">
    <h1>{{ page.title | remove: "| Vis Design Lab" }}</h1>
  </header>

  <article class="funding-content">


    <p>We are greatful for support from these organizations.</p>


    <div class="cards">

      {% for grant in site.funding reversed %}
      <div class="card">
        {% if grant.active %}
        <div class="ribbon-wrapper">
          <div class="ribbon">Active</div>
        </div>
        {% endif %}
        <div class="card-image">
          <a href="{{ grant.website }}">
            {% if grant.logo %}
            <img src="../assets/images/grants/{{ grant.logo}}" alt="grant.name"
                 style="padding: 10px; height: 100px; width: auto; text-align: center">
            {% else %}
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"
                 alt="">
            {% endif %}
          </a>
        </div>
        <div class="card-header">
          {{ grant.title }}
        </div>
        <div class="card-copy">
          <p>Agency: {{ grant.agency }}</p>
          {% if grant.number %}
          <p>Number: {{grant.number}}</p>
          {%endif%}
          {% if grant.program %}
          <p>Program: {{grant.program}}</p>
          {%endif%}
          <p>Period: {{grant.time}}</p>


          <p>Recipient(s):</p>
          <ul>
          {% for recipient in grant.recipients %}
           <li> {{ recipient }} </li>
          {% endfor %}
          </ul>

          {% if page.partners %}
          <p>Partners: {{grant.partners}}</p>
          {%endif%}

        </div>
      </div>
      {% endfor %}
    </div>
  </article>

</div>